  $font-stack: "Arial", sans-serif;
  $light-background: white;
  $med-background: #fafafa;
  $dark-background: #EFEFEF;
  $accent-color: #1379BD;
  $main-color: #9c9898;
  $success-color: #46B688;
  $base: 1rem;
  $small: 0.8rem;
  $big: 1.2rem;